* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app_header {
  background-color: white;
  padding: 14px;
  border-bottom: 1px solid #dbdbdb;
  object-fit: contain;
}

.app_headerImage {
  height: 29px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
